<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>
  <body>
    <img id="splashicon" src="/images/splashicon.svg"/>
  </body>
</html>
