<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img id="splashicon" src="/images/splashicon.svg"/>
  </body>
</html>
