<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="Making music together via video call can be frustrating. Use Remotronome to make sure everyone is on the same beat." />
    <meta property="og:image" content="/images/splashicon-300dpi.png">
    <link rel="icon" type="image/svg+xml" href="/images/icon.svg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/splashscreen.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
  </head>
  <body>
    <a href="/">
      <img id="splashicon" src="/images/splashicon.svg" />
    </a>
      <div id="buttonheart">
        <button id="newsessionbutton" onclick="newSession()"></button>
        <button id="joinsessionbutton"></button>
        <button id="infobutton"></button>
        <p id="heart">made with 🎵 in the hague</p>
      </div>
  </body>
</html>
