<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="description" content="Making music together via video call can be frustrating. Use Remotronome to make sure everyone is on the same beat." />
    <meta property="og:image" content="/images/splashicon-300dpi.png">
    <link rel="icon" type="image/svg+xml" href="/images/icon.svg">
    <link rel='stylesheet' href='/stylesheets/session.css' />
    <script type="text/javascript" src="/javascripts/clientsession.js"></script>
    <script type="text/javascript" src="/javascripts/sharebuttons.js"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>
    <div id="header">
        <div id="portraitHeader">
            <a href="javascript:window.location.href=window.location.href">
                <img id="splashicon" class="portraitHeaderEl" src="/images/icon-transparent.svg" />
            </a>
            <div class="portraitHeaderEl" id="connectionDisplay">
                <div id="connectionDisplayRowOneDiv">
                    <div id="amountSyncedDiv" class="connectionRowOne">
                        <div id="amountSyncedDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="amountSynced"><%= synchronizedNumber %></p>
                        </div>
                    </div>
                    <div id="slashDiv" class="connectionRowOne">
                        <div id="slashDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="slash">/</p>
                        </div>
                    </div>
                    <div id="amountConnectedDiv" class="connectionRowOne">
                        <div id="amountConnectedDivDiv" class="connectionRowOneOne">
                            <p class="connectionDisplayEl" id="amountConnected"><%= connectedNumber %></p>
                        </div>
                    </div>
                </div>
                <div id="amountSyncedTextDiv" class="connectionRowTwo">
                    <p class="connectionDisplayElText" id="textSynced">SYNCED</p>
                </div>
                <div id="amountConnectedTextDiv" class="connectionRowTwo">
                    <p class="connectionDisplayElText" id="textConnected">CONNECTED</p>
                </div>
            </div>
            <div class="portraitHeaderEl" id="exitButton" onclick=exit()>
                <div id="exitIconDiv">
                    <img id="exitIcon" src="/images/exitred.svg" />
                </div>
                <div id="exitTextDiv">
                    <p id="exitText">EXIT</p>
                </div>
            </div>
        </div>
        <div id="share">
            <p id="lonely">It's lonely in here! Let's invite some fellow musicians:</p>
            <div id="shareInvite" onclick=systemShare()>
                <img id="shareIcon" src="/images/share.svg" />
                <img id="sharetext" src="/images/sharesessiontext.svg"/>
            </div>
            <a id="whatsAppShare" href="<%= "https://wa.me/?text=Please join me for a remote jam session at " + shareURL %>">
               <img id="whatsAppIcon" src="/images/whatsapp.svg" id="whatsapp" />
            </a>
            <div id="skype-share" class='skype-share' data-href='' data-lang='' data-text="Please join me for a remote jam session at" data-style='' ><img id="skypeLogo" src="/images/skypelogo.svg" /></div>
            <div id="clipboard" onclick=copyToClipboard() >
                <img id="clipboardIcon" src="/images/clipboard.svg" />
            </div>
            <div id="systemShare" onclick=systemShare() >
                <img id="systemShareIcon" src="/images/systemshare.svg" />
            </div>
        </div>
    </div>
    <div id="clipboardPopUp">
        <span id="clipboardPopUpText">Session link copied!</span>
    </div>
    <div id="metronome-area" class="metronome-area">
        <svg id="metronome-base"
                xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
                xmlns:dc="http://purl.org/dc/elements/1.1/"
                xmlns:cc="http://creativecommons.org/ns#"
                xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns="http://www.w3.org/2000/svg"
                version="1.1"
                viewBox="0 0 158.87176 251.93235"
                height="952.18524"
                width="600.46021">
            <defs
                    id="defs2">
                <linearGradient
                        osb:paint="solid"
                        id="linearGradient2787">
                    <stop
                            id="stop2785"
                            offset="0"
                            style="stop-color:#7f7f7f;stop-opacity:1;" />
                </linearGradient>
                <clipPath
                        id="clipPath2796"
                        clipPathUnits="userSpaceOnUse">
                    <rect
                            y="132.79964"
                            x="40.473282"
                            height="81.775635"
                            width="135.13664"
                            id="rect2798"
                            style="fill:#000000;fill-opacity:1;stroke:none;stroke-width:8.32107;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
                </clipPath>
            </defs>
            <metadata
                    id="metadata5">
                <rdf:RDF>
                    <cc:Work
                            rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                                rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title></dc:title>
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                    transform="translate(-27.662464,-21.730453)"
                    id="layer1">
                <path
                        d="M 68.672868,28.345053 H 145.52083 L 179.91972,267.04819 H 34.276962 Z"
                        style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:13.2292;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                        id="rect835" />
                <ellipse
                        clip-path="url(#clipPath2796)"
                        ry="40.207577"
                        rx="133.33778"
                        cy="241.20651"
                        cx="108.60438"
                        id="path2792"
                        style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:13.2292;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
            </g>
        </svg>
    </div>
    <div id="heartDiv">
        <p id="heart">made with 🎵 in the hague</p>
    </div>
    <p id="missingLandScape">Landscape mode not supported yet, working on it. Hang tight!</p>
</body>
</html>
