@font-face {
    font-family: 'Lato Hairline';
    src: url('/fonts/Lato-Hairline.ttf');
}

@font-face {
    font-family: 'Lato Light';
    src: url('/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'YanoneLight';
    src: url('/fonts/YanoneKaffeesatz-Light.otf');
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

a {
    text-decoration: none;
}

    @media all and (orientation:portrait) {
    /* Styles for Portrait screen */

    #header {
        height: 22%;
        width: 100%;
        position: fixed;
    }

    #portraitHeader {
        background: green;
        height: 75%;
        width: 100%;
        position: relative;
    }

    #splashicon {
        background-color: #f0f0f0;
        height: 100%;
        width: 25%;
    }

    #connectionDisplay {
        position: absolute;
        background-color: #cccccc;
        top: 0;
        left: 25%;
        right: 25%;
        bottom: 0;
    }

    .connectionRowOne {
        position: absolute;
        height: 100%;
        padding-top: 1.5%;
    }

    .connectionRowOneOne {
        height: 100%;
    }

    #connectionDisplayRowOneDiv {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 25%;
        right: 0;
        height: 75%;
    }

    #amountSyncedDiv {
        left: 0;
        right: 55%;
    }

    #slashDiv {
        left: 40%;
        right: 40%;
    }

    #amountConnectedDiv {
        left: 55%;
        right: 0;
    }

    .connectionRowTwo {
        position: absolute;
        bottom: 0;
        top: 75%;
    }

    #amountSyncedTextDiv {
        left: 11%;
        right: 50%;
    }

    #amountConnectedTextDiv {
        right: 0;
        left: 57%;
    }

    .connectionDisplayEl {
        font-family: "Lato Light";
        color: black;
        font-size: 15vw;
        margin: 0 auto;
        display:flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    @supports (-webkit-touch-callout: none) {
        /*  CSS specific to iOS devices,
            might break in the future */

        /*  This is necessary because mobile
            safari doesn't center the flexbox text properly
            for whatever reason */
        .connectionDisplayEl {
            font-size: 12vw;
        }
    }

    .connectionDisplayElText {
        font-family: "Lato Light";
        color: black;
        font-size: 3vw;
        margin: 0;
        position: absolute;
    }

    #exitButton {
        text-align: center;
        left: 75%;
        top: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        background-color: #f0f0f0;
    }

    #exitIconDiv {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 25%;
    }

    #exitIcon {
        width: 50%;
        height: 100%;
    }

    #exitTextDiv {
        position: absolute;
        top: 75%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    #exitText {
        font-family: "Lato Light";
        color: black;
        font-size: 3vw;
        margin: 0;
    }

    /* For now, will be pop up later */
    #lonely {
        display: none;
    }

    #share {
        background: #ffdd55;
        width: 100%;
        height: 25%;
        position: relative;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        box-sizing:border-box;
        border-bottom-style: solid;
        border-bottom-width: 0.5vw;
        border-bottom-color: #8c8c8c;
        text-align: center;
    }

    #skype-share {
        display: inline;
    }

    #skype-share > #skypeLogo {
        height: 100%;
    }

    #shareInvite {
        display: inline;
        height: 100%;
    }

    #shareIcon,#whatsAppIcon {
        display: inline;
        height: 100%;
    }

    #share > #sharetext {
        display: inline;
    }

    #sharetext {
        height: 100%;
        width: 40%;
    }

    #clipboard {
        display: inline;
        position: relative;
    }

    #clipboard > #clipboardIcon {
        height: 100%;
    }

    #clipboardPopUp {
        position: fixed;
        visibility: hidden;
        text-align: center;
    }

    #clipboardPopUp #clipboardPopUpText {
        width: 160px;
        background-color: #555;
        color: #fff;
        border-radius: 6px;
        border: #555;
        padding: 8px 0;
        font-family: "Lato Light";
        position: fixed;
        right: 1vw;
        top: calc(1vw + 22%);
    }

    #clipboardPopUp.show {
        visibility: visible;
        -webkit-animation: sharePopUp 5s;
        animation: sharePopUp 5s;
        z-index: 10;
    }

    @-webkit-keyframes sharePopUp {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes sharePopUp {
        0% {
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        80% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    #systemShare {
        display: inline;
    }

    #systemShare > #systemShareIcon {
        height: 100%;
    }

    /* Metronome styles*/
    #metronome-area {
        z-index: 9;
        position: fixed;
        top: 22%;
        left: 0;
        right: 0;
        bottom: 3%;
        background-color: #f0f0f0;
    }

    #metronome-case {
        position: absolute;
        top: 2%;
        bottom: 0;
        left: 0;
        right: 0;
    }

    #metronome-base {
        width: 100%;
        height: 100%;
    }


    /* Remove when starting to build landscape mode */
    #missingLandScape {
        display: none;
    }

    #heartDiv {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 97%;
    }

    #heart {
        display:flex;
        align-items: center;
        justify-content: center;
        color: #ff7f2a;
        font-size: 1.5vh;
        font-family: YanoneLight;
        margin: 0 auto;
        height: 100%;
    }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #002232;
            }

            #splashicon {
                background-color: #002232;
            }

            #connectionDisplay {
                background-color: #552200;
            }

            #exitButton {
                background-color: #002232;
            }

            #exitText {
                color: white;
            }

            .connectionDisplayEl,.connectionDisplayElText{
                color: white;
            }

            #share {
                background-color: #ffb380;
                border-bottom: hidden;
            }

            #metronome-area {
                background-color: #002232;
            }
        }
}

@media all and (orientation:landscape) {
    /* Styles for Landscape screen */
    body > :not(:last-child) {
        display: none;
    }

    #missingLandScape {
        font-family: "Lato Light";
        font-size: 15pt;
        text-align: center;
    }
}